* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  /* padding: 0; */
}
header {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: solid black 3px;
}
nav {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  gap: 15px;
}
#logo {
  margin-right: auto;
}
.hero {
  padding: 25px;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.intro-text {
  width: 25%;
}
