* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin: 0;
  padding: 0;
}
header {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}
nav {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  gap: 25px;
}
#logo {
  margin-right: auto;
  font-size: 28px;
  color: #f9faf8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header-links {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
.hero {
  padding: 25px;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.intro-text {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.header-intro-text {
  font-size: 18px;
  color: #e5e7eb;
}
#intro-btn-signup {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}
.intro-image {
  border-radius: 2%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}
.card-container {
  display: flex;
  gap: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tea-image {
  border-radius: 2%;
}
.card-text {
  width: 320px;
  font-size: 18px;
  color: rgb(26, 26, 26);
}
.quote-container {
  display: flex;
  padding: 5%;
  /* align-self: center; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* width: 50%; 
  border-radius: 2%; */
  background-color: #e5e7eb;
}
.quote {
  font-size: 36px;

  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.quote-author {
  align-self: flex-end;
  margin-right: 10%;
  font-size: 26px;
  font-weight: bolder;
  font-style: normal;
  color: rgb(26, 26, 26);
}
footer {
  font-size: 18px;
  height: 80px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
